<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>FEND Capstone - Travel App</title>
  </head>

  <body>
    <header>
      <h1>Travel App</h1>
   
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <label>Location:</label>
    <input type="text" class="form-control" id="search_input" placeholder="Enter your destination" required/>
   </div>
  
        <div id="date-field">

          <label for="start">Start date:</label>
          <input
            type="date"
            id="start-date"
            name="trip-start"
            min="2020-01-01"
            max="2025-12-31"
            required
          />
          <label for="end">End date:</label>
          <input
            type="date"
            id="end-date"
            name="trip-end"
            min="2020-01-01"
            max="2025-12-31"
            required
          />
         
        </div>
          
        <input
        type="submit"
        name=""
        id="submit"
        value="submit"
        onclick=""
        onsubmit=""
      />
        </form>
      </section>

    
      <section>
        <strong id="results">Hallo</strong>
      </section>

    </main>

    <footer>
      <p>
        Udacity Frontend Nanodegree Project - 5<br />
        News Article With Natural Lang<br />
        By:Husam Abuhabib
      </p>
    </footer>

  </body>
</html>
