* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr 100px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: background-animation1 20s ease infinite;
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glass {
  color: black;
  margin: auto;
  margin-bottom: 75px;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  padding: 25px;
}

main {
  grid-area: main;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3em;
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px 10px #2a77aa;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  font-weight: 600;
  opacity: 0.8;
  border-radius: 1rem;
  padding: 40px;
  width: 400px;
  height: fit-content;
}
