footer {
  color: azure;
  grid-area: footer;
  font-size: 30px;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 20px;
}
